<div class="card pb-5">
  <div class="card-header">
    <h4>{{ isEditId ? 'Edit Athletes' : 'Add Athletes' }}</h4>
  </div>
  <div class="page-header px-5 pt-3">
    <div class="page-title">
      <h4></h4>
    </div>
    <div class="btn-toolbar p-0 m-0">
      <div class="m-0">
        <button type="button" class="me-1 btn btn-info btn ms-1" (click)="reset()"><i class="feather icon-refresh-ccw"></i>
          Reset
        </button>
        <button type="submit" class="me-1 btn btn-success btn" (click)="onSubmit()"><i class="feather icon-save"></i>
          SAVE
        </button>
        <button type="button" class="me-1 btn btn-danger btn" (click)="onBackClick()"><i
          class="feather icon-chevrons-left"></i> Back
        </button>
      </div>
    </div>
  </div>


  <div class="px-5 mt-3" >
    <div>
      <form [formGroup]="athleteForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col-xl-6">
            <div class="row">
              <label class="col-lg-3 col-form-label col-form-label-sm">First Name :</label>
              <div class="col-lg-9  form-group">
                <input type="text" placeholder="Enter first name" class="form-control" formControlName="firstName"
                       [ngClass]="{ 'is-invalid': athleteForm.get('firstName')?.invalid &&
                       (athleteForm.get('firstName')?.dirty || athleteForm.get('firstName')?.touched) }">
                <div
                  *ngIf="athleteForm.get('firstName')?.invalid && (athleteForm.get('firstName')?.dirty || athleteForm.get('firstName')?.touched)"
                  class="text-danger">First name is required
                </div>
              </div>
            </div>

            <div class="row">
              <label class="col-lg-3 col-form-label col-form-label-sm">Last Name :</label>
              <div class="col-lg-9  form-group">
                <input type="text" placeholder="Enter last name" class="form-control" formControlName="lastName"
                       [ngClass]="{ 'is-invalid': athleteForm.get('lastName')?.invalid && (athleteForm.get('lastName')?.dirty || athleteForm.get('lastName')?.touched) }">
                <div
                  *ngIf="athleteForm.get('lastName')?.invalid && (athleteForm.get('lastName')?.dirty || athleteForm.get('lastName')?.touched)"
                  class="text-danger">Last name is required
                </div>
              </div>
            </div>

            <div class="row">
              <label class="col-lg-3 col-form-label col-form-label-sm">Email :</label>
              <div class="col-lg-9  form-group">
                <input type="text" placeholder="Enter email " class="form-control" formControlName="email"
                       [ngClass]="{ 'is-invalid': athleteForm.get('email')?.invalid && (athleteForm.get('email')?.dirty || athleteForm.get('email')?.touched) }">
                <div
                  *ngIf="athleteForm.get('email')?.invalid && (athleteForm.get('email')?.dirty || athleteForm.get('email')?.touched)"
                  class="text-danger">Email is required
                </div>
              </div>
            </div>

            <div class="row">
              <label class="col-lg-3 col-form-label col-form-label-sm">Events :</label>
              <div class="col-lg-9  form-group">
                <input type="text" placeholder="Enter events " class="form-control" formControlName="events"
                       [ngClass]="{ 'is-invalid': athleteForm.get('events')?.invalid && (athleteForm.get('events')?.dirty || athleteForm.get('events')?.touched) }">
                <div
                  *ngIf="athleteForm.get('events')?.invalid && (athleteForm.get('events')?.dirty || athleteForm.get('events')?.touched)"
                  class="text-danger">Events is required
                </div>
              </div>
            </div>

            <div class="row">
              <label class="col-lg-3 col-form-label col-form-label-sm">Contact Number:</label>
              <div class="col-lg-9  form-group">
                <input type="tel" placeholder="Enter contact number " class="form-control" formControlName="contact"
                       [ngClass]="{ 'is-invalid': athleteForm.get('contact')?.invalid && (athleteForm.get('contact')?.dirty || athleteForm.get('contact')?.touched) }">
                <div
                  *ngIf="athleteForm.get('contact')?.invalid && (athleteForm.get('contact')?.dirty || athleteForm.get('contact')?.touched)"
                  class="text-danger">Contact number is required
                </div>
              </div>
            </div>


            <div class="row">
              <label class="col-lg-3 col-form-label col-form-label-sm">Date of birth:</label>
              <div class="col-lg-9 form-group">
                <div class="input-groupicon">
                  <input
                    matInput
                    [matDatepicker]="picker1"
                    placeholder="Date"
                    formControlName="dob"
                    class="mat-input-element"
                  />
                  <div class="addonset">
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                  </div>
                </div>
                <div
                  *ngIf="athleteForm.get('dob')?.invalid && (athleteForm.get('dob')?.dirty || athleteForm.get('dob')?.touched)"
                  class="text-danger">Date of birth is required
                </div>
              </div>
            </div>

            <div class="row">
              <label class="col-lg-3 col-form-label col-form-label-sm">Age :</label>
              <div class="col-lg-9  form-group">
                <input type="number" readonly class="form-control" formControlName="age"
                       [ngClass]="{ 'is-invalid': athleteForm.get('age')?.invalid && (athleteForm.get('age')?.dirty || athleteForm.get('age')?.touched) }">
                <div
                  *ngIf="athleteForm.get('age')?.invalid && (athleteForm.get('age')?.dirty || athleteForm.get('age')?.touched)"
                  class="text-danger">Age number is required
                </div>
              </div>
            </div>
          </div>


          <div class="col-xl-6">
            <div class="row">
              <label class="col-lg-3 col-form-label col-form-label-sm">Level :</label>
              <div class="col-lg-9  form-group">
                <mat-select id="level" formControlName="level">
                  <mat-option *ngFor="let level of levelData" [value]="level">{{level | titlecase}}</mat-option>
                </mat-select>
              </div>
            </div>
            <div class="row">
              <label class="col-lg-3 col-form-label col-form-label-sm">Heart Rate :</label>
              <div class="col-lg-9  form-group">
                <mat-select id="hrRate" formControlName="hrRate">
                  <mat-option *ngFor="let hr of heartRateData" [value]="hr">{{hr}}</mat-option>
                </mat-select>
              </div>
            </div>
            <ng-container *ngIf="athleteForm.get('hrRate')?.value === 'Other'">
              <span>You selected "Other"</span>
              <div class="row">
                <label class="col-lg-3 col-form-label col-form-label-sm">Custom Heart Rate :</label>
                <div class="col-lg-9  form-group">
                  <input type="text" placeholder="Enter heart rate " class="form-control" formControlName="cusHrRate"
                         [ngClass]="{ 'is-invalid': athleteForm.get('cusHrRate')?.invalid && (athleteForm.get('cusHrRate')?.dirty || athleteForm.get('cusHrRate')?.touched) }">
                  <div
                    *ngIf="athleteForm.get('cusHrRate')?.invalid && (athleteForm.get('cusHrRate')?.dirty || athleteForm.get('cusHrRate')?.touched)"
                    class="text-danger">Heart rate is required
                  </div>
                </div>
              </div>
            </ng-container>
            <div class="row">
              <label class="col-lg-3 col-form-label col-form-label-sm">Gender :</label>
              <div class="col-lg-9  form-group">
                <mat-select id="gender" formControlName="gender">
                  <mat-option *ngFor="let gender of genderData" [value]="gender">{{gender | titlecase}}</mat-option>
                </mat-select>
              </div>
            </div>
            <div class="row">
              <label class="col-lg-3 col-form-label col-form-label-sm">Weight(Kg) :</label>
              <div class="col-lg-9  form-group">
                <input type="number" placeholder="Enter weight " class="form-control" formControlName="weight"
                       [ngClass]="{ 'is-invalid': athleteForm.get('weight')?.invalid && (athleteForm.get('weight')?.dirty || athleteForm.get('weight')?.touched) }">
                <div
                  *ngIf="athleteForm.get('weight')?.invalid && (athleteForm.get('weight')?.dirty || athleteForm.get('weight')?.touched)"
                  class="text-danger">Weight is required
                </div>
              </div>
            </div>

            <div class="row">
              <label class="col-lg-3 col-form-label col-form-label-sm">Height(Cm) :</label>
              <div class="col-lg-9  form-group">
                <input type="number" placeholder="Enter height " class="form-control" formControlName="height"
                       [ngClass]="{ 'is-invalid': athleteForm.get('height')?.invalid && (athleteForm.get('height')?.dirty || athleteForm.get('height')?.touched) }">
                <div
                  *ngIf="athleteForm.get('height')?.invalid && (athleteForm.get('height')?.dirty || athleteForm.get('height')?.touched)"
                  class="text-danger">Height is required
                </div>
              </div>
            </div>

            <div class="row">
              <label class="col-lg-3 col-form-label col-form-label-sm">Major Event with Personal Best :</label>
              <div class="col-lg-9  form-group">
                <input type="text" class="form-control" formControlName="personalBest"
                       [ngClass]="{ 'is-invalid': athleteForm.get('personalBest')?.invalid && (athleteForm.get('personalBest')?.dirty || athleteForm.get('personalBest')?.touched) }">
                <div
                  *ngIf="athleteForm.get('personalBest')?.invalid && (athleteForm.get('personalBest')?.dirty || athleteForm.get('personalBest')?.touched)"
                  class="text-danger">Personal best is required
                </div>
              </div>
            </div>
          </div>




        </div >
      </form>
    </div>
  </div>



</div>
