<div class="card pb-5">
  <div class="page-header px-3 pt-3">
    <div class="page-title">
      <h4>Athletes</h4>
    </div>
    <div class="page-btn">
      <button type="button" class="me-1 btn btn-primary btn ms-1" (click)="addAthletes()"><i class="feather icon-plus"></i>
        Add New
      </button>
    </div>
  </div>


  <div class="table-responsive dataview px-3">
    <table class="table" matSort matSortActive="Sno" matSortDirection="asc" matSortDisableClear>
      <thead>
      <tr>
        <th mat-sort-header="id">ID</th>
        <th mat-sort-header="name">First Name</th>
        <th mat-sort-header="name">Last Name</th>
        <th mat-sort-header="email">Events</th>
        <th mat-sort-header="device">Device</th>
        <th mat-sort-header="gender">Gender</th>
        <th mat-sort-header="age">DOB</th>
        <th mat-sort-header="level">Level</th>
        <th mat-sort-header="hrRange">Heart Rate Range</th>
        <th mat-sort-header="weight">Weight</th>
        <th mat-sort-header="height">Height</th>
        <th mat-sort-header="action">Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let project of athletes;let i=index;">
        <td>{{ i+1 }}</td>
        <td>{{ project.first_name }}</td>
        <td>{{ project.last_name }}</td>
        <td>{{ project.event }}</td>
        <td>D001</td>
        <td>{{ project.gender }}</td>
        <td>{{ project.dob }} years</td>
        <td>{{ project.level }}</td>
        <td>{{ project.heart_rate }}</td>
        <td>{{ project.weight }} Kg</td>
        <td>{{ project.height }} Cm</td>
        <td>
          <a class="confirm-text p-2" href="javascript:void(0);" (click)="editAthletes(project.id)">
            <i class="feather icon-edit feather-edit"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
