<div class="row">
  <div class="col-xl-4 col-sm-6 col-12 d-flex">
    <div class="dash-count">
      <div class="dash-counts">
        <h4>100</h4>
        <h5>Athletes</h5>
      </div>
      <div class="dash-imgs">
        <i class="feather icon-user"></i>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-sm-6 col-12 d-flex">
    <div class="dash-count das1">
      <div class="dash-counts">
        <h4>110</h4>
        <h5>Completed Sessions</h5>
      </div>
      <div class="dash-imgs">
        <i class="feather icon-user-check"></i>
      </div>
    </div>
  </div>
  <div class="col-xl-4 col-sm-6 col-12 d-flex">
    <div class="dash-count das2">
      <div class="dash-counts">
        <h4>150</h4>
        <h5>Sessions</h5>
      </div>
      <div class="dash-imgs">
        <img src="assets/img/icons/file-text-icon-01.svg" class="img-fluid" alt="icon">
      </div>
    </div>
  </div>
</div>

<div class="row px-2" style="padding-top: 15px;">
  <div class="col-xl-6 col-sm-12 col-12 d-flex ">
    <div class="card">
      <div class="card-header">
        <h4>Upcoming sessions :</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive dataview px-3">
          <table class="table" matSort matSortActive="Sno" matSortDirection="asc" matSortDisableClear>
            <thead>
            <tr>
              <th mat-sort-header="id">ID</th>
              <th mat-sort-header="name">Name</th>
              <th mat-sort-header="date">Date</th>
              <th mat-sort-header="venue">Venue</th>
              <th mat-sort-header="action">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let project of sampleData1">
              <td>{{ project.id }}</td>
              <td>{{ project.name }}</td>
              <td>{{ project.date }}</td>
              <td>{{ project.venue }}</td>
              <td>
                <button type="submit" class="me-1 btn-sm btn-primary float-end" (click)="startCompetition()"><i class="feather icon-info"></i> View
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-6 col-sm-12 col-12 d-flex">
    <div class="card">
      <div class="card-header">
        <h4>Athlete Performance History:</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive dataview px-3">
          <table class="table" matSort matSortActive="Sno" matSortDirection="asc" matSortDisableClear>
            <thead>
            <tr>
              <th mat-sort-header="id">ID</th>
              <th mat-sort-header="name">Name</th>
              <th mat-sort-header="email">Email</th>
              <th mat-sort-header="gender">Gender</th>
              <th mat-sort-header="action">Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let project of sampleData2">
              <td>{{ project.id }}</td>
              <td>{{ project.name }}</td>
              <td>{{ project.email }}</td>
              <td>{{ project.gender }}</td>
              <td>
                <button type="submit" class="me-1 btn-sm btn-primary float-end" (click)="viewHistory()"><i class="feather icon-info me-2"></i>View
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
