<!-- Header -->
<div class="header">

  <!-- Logo -->
  <div class="header-left active" (mouseover)="miniSideBarMouseHover('over')" (mouseout)="miniSideBarMouseHover('out')" >
    <a [routerLink] = "routes.adminDashboard" class="logo logo-normal">
      <img src="assets/img/bg-wg.png" alt="">
    </a>
    <a [routerLink] = "routes.adminDashboard" class="logo logo-white">
      <img src="assets/img/athletics.png" alt="">
    </a>
    <a [routerLink] = "routes.adminDashboard" class="logo-small">
      <img src="assets/img/athletics.png" alt="">
    </a>
    <a id="toggle_btn" href="javascript:void(0);" (click)="toggleSidebar()" [ngClass]="{'d-none': page === 'pos'}">
      <i class="feather icon-chevrons-left" class="feather icon-16"></i>
    </a>
  </div>
  <!-- /Logo -->

  <a id="mobile_btn" class="mobile_btn" (click)="togglesMobileSideBar()" [ngClass]="{'d-none': page === 'pos'}">
    <span class="bar-icon">
      <span></span>
      <span></span>
      <span></span>
    </span>
  </a>

  <!-- Header Menu -->
  <ul class="nav user-menu">

    <!-- Search -->
    <li class="nav-item nav-searchinputs">
      <div class="top-nav-search">
        <a href="javascript:void(0);" class="responsive-search">
          <i class="fa fa-search"></i>
        </a>
      </div>
    </li>
    <!-- /Search -->


    <!-- Select Store -->
    <li class="nav-item dropdown has-arrow main-drop select-store-dropdown">
    </li>
    <!-- /Select Store -->

    <!-- Flag -->
    <li class="nav-item dropdown has-arrow flag-nav nav-item-box">
    </li>
    <!-- /Flag -->

    <li class="nav-item nav-item-box">
    </li>
    <!-- Notifications -->
    <li class="nav-item dropdown nav-item-box">
      <div class="dropdown-menu notifications">
        <div class="topnav-dropdown-header">
          <span class="notification-title">Notifications</span>
          <a href="javascript:void(0)" class="clear-noti"> Clear All </a>
        </div>
      </div>
    </li>
    <!-- /Notifications -->
    <li class="nav-item dropdown has-arrow main-drop">
      <a href="javascript:void(0);" class="dropdown-toggle nav-link userset" data-bs-toggle="dropdown">
        <span class="user-info">
          <span class="user-letter">
            <img src="assets/img/profiles/avator1.jpg" alt="" class="img-fluid">
          </span>
          <span class="user-detail">
            <span class="user-name">John Smilga</span>
            <span class="user-role">Head Coach</span>
          </span>
        </span>
      </a>
      <div class="dropdown-menu menu-drop-user">
        <div class="profilename">
          <hr class="m-0">
          <a class="dropdown-item logout pb-0" [routerLink] = "routes.signIn"><img src="assets/img/icons/log-out.svg" class="me-2"
              alt="img">Logout</a>
        </div>
      </div>
    </li>
  </ul>
  <!-- /Header Menu -->

  <!-- Mobile Menu -->
  <div class="dropdown mobile-user-menu">
    <a href="javascript:void(0);" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"><i
        class="fa fa-ellipsis-v"></i></a>
    <div class="dropdown-menu dropdown-menu-right">
      <a class="dropdown-item" [routerLink] = "routes.signIn">Logout</a>
    </div>
  </div>
  <!-- /Mobile Menu -->
</div>
<!-- /Header -->
