<div class="account-content">
  <div class="login-wrapper bg-img">
    <div class="login-content">
      <form [formGroup]="userForm">
        <div class="login-userset">
          <div class="login-logo logo-normal">
            <img src="assets/img/athletics.png" alt="img">
          </div>
          <a [routerLink] = "routes.adminDashboard" class="login-logo logo-white">
            <img src="assets/img/logo-white.png" alt="">
          </a>
          <div class="login-userheading">
            <h3>WELCOME TO WORK GUARD</h3>
            <h4><strong>Create New Work Guard Account as a coach</strong></h4>
          </div>
          <div class="form-login">
            <label>Username / Email</label>
            <div class="form-addons">
              <input type="text" class="form-control" formControlName="email">
              <img src="assets/img/icons/user-icon.svg" alt="img">
            </div>
          </div>
          <div class="form-login">
            <label>First Name</label>
            <div class="form-addons">
              <input type="text" class="form-control" formControlName="firstName">
              <img src="assets/img/icons/user-icon.svg" alt="img">
            </div>
          </div>
          <div class="form-login">
            <label>Last Name</label>
            <div class="form-addons">
              <input type="text" class="form-control" formControlName="lastName">
              <img src="assets/img/icons/user-icon.svg" alt="img">
            </div>
          </div>
          <div class="form-login">
            <label>Password</label>
            <div class="pass-group">
              <input [type]="password[1] ? 'text' : 'password' " class="pass-input" formControlName="password">
              <span class="fas toggle-password" [ngClass]=" password[1] ? 'fa-eye' : 'fa-eye-slash'"
                    (click)="togglePassword(1)"></span>
            </div>
          </div>
          <div class="form-login authentication-check">
            <div class="row">
              <div class="col-sm-8">
                <div class="custom-control custom-checkbox custom-class-check justify-content-start">
                  <div class="custom-control custom-checkbox custom-class-check">
                    <label class="checkboxs ps-4 mb-0 pb-0 line-height-1">
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="form-login">
            <button type="submit" class="btn btn-login" (click)="addUser()">Sign Up</button>
          </div>
          <div class="signinform">
            <h4>Already have an account ? <a [routerLink] = "routes.signIn" class="hover-a">Sign In Instead</a></h4>
          </div>
        </div>
      </form>

    </div>
    <div class="login-userset bg-image">
      <div class="container center-text" style="width: 700px!important;">
        <div style="font-size:86px; padding-left: 200px; color: white;font-weight: 500;font-family: fantasy; font-style:italic">WORK GUARD</div>
        <!--          <div style="font-size:86px; padding-left: 300px; color: white;font-weight: 500;font-family: fantasy; font-style:italic">GUARD</div>-->
      </div>
    </div>
  </div>
</div>
