<div class="card pb-5">
  <div class="page-header px-3 pt-3">
    <div class="page-title">
      <h4>Session</h4>
    </div>
    <div class="page-btn">
      <button type="button" class="me-1 btn btn-primary btn ms-1" (click)="addAthletes()"><i class="feather icon-plus"></i>
        Add New
      </button>
    </div>
  </div>


  <div class="table-responsive dataview px-3">
    <table class="table" matSort matSortActive="Sno" matSortDirection="asc" matSortDisableClear>
      <thead>
      <tr>
<!--        <th mat-sort-header="id">ID</th>-->
        <th mat-sort-header="name">Name</th>
        <th mat-sort-header="date">Date</th>
        <th mat-sort-header="venue">Venue</th>
        <th mat-sort-header="status">Status</th>
        <th mat-sort-header="action">Action</th>
        <th mat-sort-header="view">View</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let project of sessions">
<!--        <td>{{ project.id }}</td>-->
        <td>{{ project.name }}</td>
        <td>{{ project.session_date }}</td>
        <td>{{ project.venue }}</td>
        <td>
          {{ project.status }}
          <ng-container *ngIf="project.status === 'NOT_COMPLETED'">
            <a class="confirm-text p-2" href="javascript:void(0);" (click)="startCompetition(project.id)">
              <i class="feather icon-play feather-play"></i>
            </a>
          </ng-container>
        </td>
        <td>
          <a class="confirm-text p-2" href="javascript:void(0);" (click)="editCompetition(project.id)">
            <i class="feather icon-edit feather-edit"></i>
          </a>
        </td>
        <td>
          <a
            class="confirm-text p-2"
            href="javascript:void(0);"
            [ngClass]="{'disabled-link': project.status === 'NOT_COMPLETED'}"
            (click)="project.status !== 'NOT_COMPLETED' && viewDetails(project.id)"
          >
            <i class="feather icon-eye feather-eye"></i>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
