<div class="card pb-5">
  <div class="page-header px-5 pt-3">
    <div class="page-title">
      <h4>View Session Summary</h4>
    </div>
    <div class="btn-toolbar p-0 m-0">
      <div class="m-0">
<!--        <button type="button" class="me-1 btn btn-info btn ms-1" (click)="reset()"><i class="feather icon-refresh-ccw"></i>-->
<!--          Reset-->
<!--        </button>-->

        <button type="button" class="me-1 btn btn-danger btn" (click)="onBackClick()"><i
          class="feather icon-chevrons-left"></i> Back
        </button>
      </div>
    </div>
  </div>


  <div class="px-5 mt-3" >
    <div class="row pt-5">
      <div class="col-xl-12">
        <div class="table-responsive dataview px-3">
          <table class="table" matSort matSortActive="Sno" matSortDirection="asc" matSortDisableClear>
            <thead>
            <tr>
              <th mat-sort-header="name">Name</th>
              <th mat-sort-header="avgHr">Avg. Heart Rate</th>
              <th mat-sort-header="performance">Time</th>
              <th mat-sort-header="distance">Distance</th>
              <th mat-sort-header="maxHrExceeded">Max H.R Exceeded</th>
              <th mat-sort-header="action">Heart Rate Graph</th>
              <th mat-sort-header="cal">Calories Burned</th>
              <th mat-sort-header="car">Cardiovascular Lift</th>
              <th mat-sort-header="action">Pace</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let project of historyData">
              <td>{{ project.athlete_name }}</td>
              <td>{{ project.average_heart_rate }} bpm</td>
              <td>{{ project.time }}</td>
              <td>{{ project.distance }}</td>
              <td>{{ project.max_hr_exceeded }}</td>
              <td>
                <a class="confirm-text p-2" href="javascript:void(0);" (click)="viewDetails(project.id )">
                  <i class="feather icon-eye feather-eye"></i>
                </a>
              </td>
              <td>{{ project.calories_burned }}</td>
              <td>{{ project.cardio_vascular_lift }}</td>
              <td>{{ project.pace }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div >
  </div>
</div>
